/* Museo Font Face Declarations */

@font-face {
  font-family: 'Museo';
  src: url('../assets/fonts/museo/Museo300-Regular.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo';
  src: url('../assets/fonts/museo/Museo500-Regular.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo';
  src: url('../assets/fonts/museo/Museo700-Regular.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo700-Regular';
  src: url('../assets/fonts/museo/Museo700-Regular.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
